nav.navbar 
    .container 
        a.home(href="index.html").active
            <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8L10 1L19 8V19C19 19.5304 18.7893 20.0391 18.4142 20.4142C18.0391 20.7893 17.5304 21 17 21H3C2.46957 21 1.96086 20.7893 1.58579 20.4142C1.21071 20.0391 1 19.5304 1 19V8Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M7 21V11H13V21" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
        ul.navbar__menu
            li.contact: a(href="tel:998710224455",data-text='Для консультации').link +998 71 022 44 55
            li: a.link(href="about.html") О КОМПАНИИ
            li.dropdown
                a.link(href="about.html") СЕРВИСЫ
                ul.dropmenu 
                    li: a(href="#") Xizmat nomi
                    li: a(href="#") Xizmat nomi
                    li: a(href="#") Xizmat nomi
                    li: a(href="#") Xizmat nomi
            li: a.link(href="about.html") ПРОЕКТЫ
            li: a.link(href="about.html") ПРОИЗВОДСТВО
            li: a.link(href="about.html") АВТО УСЛУГИ 
            li: a.link(href="about.html") НОВОСТИ
            li: a.link(href="vacancy.html") ВАКАНСИИ
            li: a.link(href="contacts.html") КОНТАКТЫ
        form.search__box(action='#')
            <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.1111 24.2222C19.2476 24.2222 24.2222 19.2476 24.2222 13.1111C24.2222 6.97461 19.2476 2 13.1111 2C6.97461 2 2 6.97461 2 13.1111C2 19.2476 6.97461 24.2222 13.1111 24.2222Z" stroke="#8A8A8A" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/><path d="M26.9997 26.9999L20.958 20.9583" stroke="#8A8A8A" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/></svg>
            input(type="text",placeholder='Поиск ')
            button.search__close 
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11 21C16.5228 21 21 16.5228 21 11C21 5.47715 16.5228 1 11 1C5.47715 1 1 5.47715 1 11C1 16.5228 5.47715 21 11 21Z" stroke="#8A8A8A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M14 8L8 14" stroke="#8A8A8A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M8 8L14 14" stroke="#8A8A8A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
        button.navbar__search
            <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.1111 24.2222C19.2476 24.2222 24.2222 19.2476 24.2222 13.1111C24.2222 6.97461 19.2476 2 13.1111 2C6.97461 2 2 6.97461 2 13.1111C2 19.2476 6.97461 24.2222 13.1111 24.2222Z" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/><path d="M26.9997 26.9999L20.958 20.9583" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/></svg>
            
        button.navbar__call.btn
            <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.3863 13.0639V15.322C17.3872 15.5316 17.3402 15.7391 17.2483 15.9312C17.1564 16.1233 17.0215 16.2957 16.8524 16.4374C16.6834 16.5791 16.4837 16.687 16.2664 16.7542C16.049 16.8213 15.8187 16.8463 15.5901 16.8274C13.0548 16.5757 10.6194 15.7842 8.47967 14.5166C6.48893 13.3609 4.80113 11.819 3.53613 10.0004C2.14368 8.03674 1.27713 5.80105 1.00669 3.47446C0.986098 3.26631 1.01318 3.05653 1.0862 2.85847C1.15922 2.6604 1.27658 2.4784 1.43082 2.32405C1.58505 2.16969 1.77278 2.04636 1.98204 1.96192C2.19131 1.87748 2.41753 1.83377 2.6463 1.83357H5.11807C5.51792 1.82997 5.90556 1.95933 6.20874 2.19752C6.51192 2.43572 6.70995 2.7665 6.76591 3.12822C6.87024 3.85086 7.06372 4.5604 7.34266 5.24331C7.45351 5.51272 7.4775 5.80551 7.41179 6.087C7.34608 6.36848 7.19342 6.62686 6.97189 6.83151L5.92551 7.78744C7.09841 9.67186 8.80632 11.2321 10.8691 12.3036L11.9154 11.3477C12.1394 11.1453 12.4223 11.0059 12.7304 10.9458C13.0385 10.8858 13.359 10.9077 13.6539 11.009C14.4014 11.2638 15.1781 11.4406 15.9691 11.5359C16.3694 11.5875 16.7349 11.7716 16.9962 12.0534C17.2575 12.3351 17.3963 12.6947 17.3863 13.0639Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
            | Обратная связь 
        button.mn 
            span
