extends ../blocks/temp.pug

block content 
    nav.navbar 
        .container 
            a.home(href="index.html")
                <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8L10 1L19 8V19C19 19.5304 18.7893 20.0391 18.4142 20.4142C18.0391 20.7893 17.5304 21 17 21H3C2.46957 21 1.96086 20.7893 1.58579 20.4142C1.21071 20.0391 1 19.5304 1 19V8Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M7 21V11H13V21" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
            ul.navbar__menu
                li.contact: a(href="tel:998710224455",data-text='Для консультации').link +998 71 022 44 55
                li: a.link(href="about.html") О КОМПАНИИ
                li.dropdown
                    a.link(href="about.html") СЕРВИСЫ
                    ul.dropmenu 
                        li: a(href="#") Xizmat nomi
                        li: a(href="#") Xizmat nomi
                        li: a(href="#") Xizmat nomi
                        li: a(href="#") Xizmat nomi
                li: a.link(href="about.html") ПРОЕКТЫ
                li: a.link(href="about.html") ПРОИЗВОДСТВО
                li: a.link(href="about.html") АВТО УСЛУГИ 
                li: a.link(href="about.html") НОВОСТИ
                li: a.link(href="vacancy.html") ВАКАНСИИ
                li: a.link(href="contacts.html") КОНТАКТЫ
            include ../blocks/navpart.pug
    +head('404 ERROR')
    .container 
        .error 
            img(src="assets/img/404.png", alt="")
            .title К сожелению страница не найдена пожалуйста попробуйте снова
            a(href="index.html").btn.orange Вернуться назад 