extends ../blocks/temp.pug

block content 
    nav.navbar 
        .container 
            a.home(href="index.html").active
                <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8L10 1L19 8V19C19 19.5304 18.7893 20.0391 18.4142 20.4142C18.0391 20.7893 17.5304 21 17 21H3C2.46957 21 1.96086 20.7893 1.58579 20.4142C1.21071 20.0391 1 19.5304 1 19V8Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M7 21V11H13V21" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
            ul.navbar__menu
                li.contact: a(href="tel:998710224455",data-text='Для консультации').link +998 71 022 44 55
                li: a.link(href="about.html") О КОМПАНИИ
                li.dropdown
                    a.link(href="about.html") СЕРВИСЫ
                    ul.dropmenu 
                        li: a(href="#") Xizmat nomi
                        li: a(href="#") Xizmat nomi
                        li: a(href="#") Xizmat nomi
                        li: a(href="#") Xizmat nomi
                li: a.link(href="about.html") ПРОЕКТЫ
                li: a.link(href="about.html") ПРОИЗВОДСТВО
                li: a.link(href="about.html") АВТО УСЛУГИ 
                li: a.link(href="about.html") НОВОСТИ
                li: a.link(href="vacancy.html") ВАКАНСИИ
                li: a.link(href="contacts.html") КОНТАКТЫ
            include ../blocks/navpart.pug
    .sliders 
        .slider.splide
            .splide__track
                .slider__list.splide__list
                    .slider__item(style='background-image:url(assets/img/slide1.jpg)').splide__slide
                        .container 
                            .caption 
                                .caption__logo 
                                    | ZAMAN <span>BUILDING</span>
                                .caption__title Мы строим ваше будущее за счет качественных зданий
                                .caption__text There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                                a.btn.more(href="#") Узнать больше
                                a.btn(href="#") Услуги
                    .slider__item(style='background-image:url(assets/img/slide1.jpg)').splide__slide
                        .container 
                            .caption 
                                .caption__logo 
                                    | ZAMAN <span>BUILDING</span>
                                .caption__title Мы строим ваше будущее за счет качественных зданий
                                .caption__text There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                                a.btn.more(href="#") Узнать больше
                                a.btn(href="#") Услуги
                    .slider__item(style='background-image:url(assets/img/slide1.jpg)').splide__slide
                        .container 
                            .caption 
                                .caption__logo 
                                    | ZAMAN <span>BUILDING</span>
                                .caption__title Мы строим ваше будущее за счет качественных зданий
                                .caption__text There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                                a.btn.more(href="#") Узнать больше
                                a.btn(href="#") Услуги
            .splide__progress
                .splide__progress__bar
    .about 
        .container 
            .about__left 
                a.about__play(href="https://www.youtube.com/watch?v=Psz3E5y_2Ik",target='_blank')
                    <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.916016 2.29765C0.916016 0.719465 2.65832 -0.236966 3.98977 0.610321L14.6364 7.38544C15.8714 8.17135 15.8714 9.97418 14.6364 10.7601L3.98976 17.5352C2.65831 18.3825 0.916016 17.4261 0.916016 15.8479V2.29765Z" fill="white"/></svg>
                img(src="assets/img/about.jpg", alt="")
            .about__right 
                .btitle: span О КОМПАНИИ
                .about__title Мы лидеры Архитектуры!
                .exp 20 лет опыта работы
                p По каждому проекту мы устанавливаем отношения с партнерами, которые, как мы знаем, помогут нам создать дополнительную ценность для вашего проекта. Мы не только объединяем государственный и частный секторы, но и устанавливаем межотраслевые связи, чтобы собирать знания и учиться друг у друга, которые, как мы знаем, помогут нам создать добавленную стоимость для вашего проекта .......
                a.btn(href="about.html") Подробнее
                .row 
                    .about__item
                        <svg width="33" height="48" viewBox="0 0 33 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M31.4473 46.6636V31.6526V27.8558V25.9578L31.4455 25.2687V25.2097C31.4336 25.2024 31.4116 25.2061 31.395 25.2036L31.2886 25.1981L31.0742 25.1882L30.8196 25.1791C30.5309 25.1708 30.2421 25.1669 29.9531 25.1683C29.375 25.172 28.796 25.1909 28.2125 25.2615C27.6379 25.3346 27.0014 25.4536 26.4839 25.9205C26.3572 26.0381 26.2416 26.1804 26.1544 26.3497C26.1111 26.4341 26.0748 26.5244 26.049 26.6224C26.036 26.6718 26.0257 26.7217 26.0192 26.7786C26.0155 26.8006 26.014 26.8601 26.0146 26.8695V26.9287V27.878V29.5047C25.7146 29.4864 25.4144 29.4697 25.114 29.4567C24.5858 29.4336 24.057 29.4198 23.5282 29.4141V14.7441L21.8396 14.0854V7.74313L6.34631 0L1.74148 6.15767V15.9903V16.0796V46.6636H0V48H33V46.6636H31.4473ZM11.6752 39.8106C13.6581 39.4876 15.6511 39.2424 17.6501 39.0919C19.6482 38.9426 21.6526 38.8877 23.6519 38.9673C25.5866 39.0457 27.5184 39.2509 29.4149 39.6514V40.4879C27.51 40.1884 25.5915 40.0461 23.6744 39.9867C21.667 39.9266 19.6597 39.9607 17.6558 40.0559C15.6521 40.1516 13.6515 40.3092 11.6556 40.5161C9.74896 40.716 7.84867 40.9536 5.94924 41.2558V40.9879C6.86051 40.7529 7.78589 40.5466 8.70994 40.3557C9.69498 40.1539 10.6838 39.9723 11.6752 39.8106ZM9.5161 39.6738V34.147C9.80843 34.0498 10.1021 33.9572 10.3964 33.8674V39.5103C10.1027 39.5632 9.80928 39.6173 9.5161 39.6738ZM20.7408 38.4276V32.1789C21.0793 32.1696 21.4183 32.1656 21.7571 32.1656V38.4176C21.4184 38.4179 21.0793 38.4211 20.7408 38.4276ZM29.4149 41.0071V46.5819H22.2229V40.474C22.7025 40.4777 23.1823 40.4867 23.6618 40.5009C25.5878 40.5605 27.5128 40.7046 29.4149 41.0071ZM20.2755 40.4842V46.582H10.8838V41.1162C11.1555 41.0862 11.4274 41.0568 11.6991 41.0282C13.6879 40.822 15.6809 40.665 17.6758 40.5696C18.5422 40.5284 19.4086 40.5002 20.2755 40.4842ZM9.05038 41.3338V46.5819H5.94924V41.7754C6.97907 41.6107 8.01364 41.4648 9.05038 41.3338ZM23.5609 31.0459C24.5742 31.0738 25.5869 31.1329 26.5966 31.2251C27.5395 31.3129 28.4865 31.4255 29.415 31.5848V32.4478C25.4901 31.6153 21.4554 31.4453 17.4826 31.8872C15.4484 32.1132 13.4293 32.4962 11.4435 33.0333C10.4508 33.3023 9.46638 33.6095 8.49375 33.9599C8.00776 34.1351 7.52424 34.321 7.04498 34.5199C6.67642 34.6734 6.31316 34.8309 5.94934 35.0047V34.6013C7.72481 33.6588 9.59697 32.941 11.5092 32.4035C13.4695 31.8541 15.4732 31.4913 17.489 31.2753C19.5051 31.06 21.5345 30.9908 23.5609 31.0459ZM10.6964 15.0497V17.1729L9.516 16.9244V14.7329L10.6964 15.0497ZM9.5161 14.2035V12.5747L10.6965 12.9431V14.5205L9.5161 14.2035ZM10.6964 17.6964V19.6932L9.516 19.509V17.4478L10.6964 17.6964ZM10.6964 20.2124V22.4131L9.516 22.3046V20.0284L10.6964 20.2124ZM10.6964 22.9293V25.0093L9.516 24.9632V22.8208L10.6964 22.9293ZM10.6964 25.5238V27.5015H9.5161V25.4778L10.6964 25.5238ZM10.6964 28.0158V31.1871C10.301 31.311 9.90739 31.4421 9.516 31.5812V28.0158H10.6964ZM12.4019 15.5076V17.532L11.1622 17.2709V15.1749L12.4019 15.5076ZM11.1622 14.6455V13.0882L12.4019 13.4752V14.9782L11.1622 14.6455ZM12.4019 18.0556V19.9592L11.1622 19.7655V17.7944L12.4019 18.0556ZM12.4019 20.4786V22.5698L11.1622 22.4558V20.285L12.4019 20.4786ZM12.4019 23.0861V25.0759L11.1622 25.0272V22.9719L12.4019 23.0861ZM12.4019 25.5903V27.5016H11.1622V25.5419L12.4019 25.5903ZM12.4019 28.0158V30.7001C12.0955 30.7794 11.7899 30.8617 11.485 30.949C11.3774 30.9801 11.2698 31.0129 11.1622 31.0449V28.0159H12.4019V28.0158ZM14.2312 15.9987V17.9172L12.8675 17.63V15.6326L14.2312 15.9987ZM12.8675 15.1032V13.6202L14.2312 14.0458V15.4693L12.8675 15.1032ZM14.2312 18.4408V20.2447L12.8675 20.0318V18.1538L14.2312 18.4408ZM14.2312 20.7638V22.738L12.8675 22.6128V20.5512L14.2312 20.7638ZM14.2312 23.254V25.1468L12.8675 25.0937V23.1288L14.2312 23.254ZM14.2312 25.6619V27.5016H12.8675V25.6084L14.2312 25.6619ZM14.2312 28.0158V30.2747C13.7753 30.3687 13.3207 30.4717 12.8675 30.5829V28.0159H14.2312V28.0158ZM16.0084 16.4756V18.2915L14.6969 18.0153V16.1235L16.0084 16.4756ZM14.6968 15.5945V14.1911L16.0083 14.6004V15.9464L14.6968 15.5945ZM16.0084 18.8152V20.5218L14.6969 20.3171V18.539L16.0084 18.8152ZM16.0084 21.0413V22.901L14.6969 22.7805V20.8369L16.0084 21.0413ZM16.0084 23.4172V25.2164L14.6969 25.1654V23.2967L16.0084 23.4172ZM16.0084 25.7311V27.5015H14.6969V25.6797L16.0084 25.7311ZM16.0084 28.0158V29.9494C15.5704 30.0196 15.1331 30.0972 14.6969 30.1819V28.0158H16.0084ZM17.8419 16.9678V18.6776L16.4742 18.3897V16.6007L17.8419 16.9678ZM16.4742 16.0714V14.7456L17.8419 15.1723V16.4384L16.4742 16.0714ZM17.8419 19.2013V20.8078L16.4742 20.5944V18.9135L17.8419 19.2013ZM17.8419 21.3273V23.0694L16.4742 22.944V21.114L17.8419 21.3273ZM17.8419 23.5857V25.2881L16.4742 25.2343V23.46L17.8419 23.5857ZM17.8419 25.8025V27.5015H16.4742V25.7492L17.8419 25.8025ZM17.8419 28.0158V29.6997C17.3854 29.7518 16.9293 29.8113 16.4742 29.8784V28.0158H17.8419ZM19.5788 17.4339V19.0435L18.3074 18.7757V17.0927L19.5788 17.4339ZM18.3074 16.5635V15.3176L19.5788 15.7141V16.9048L18.3074 16.5635ZM19.5788 19.5669V21.0787L18.3074 20.8804V19.2994L19.5788 19.5669ZM19.5788 21.5983V23.2292L18.3074 23.1125V21.3999L19.5788 21.5983ZM19.5788 23.7452V25.3557L18.3074 25.306V23.6285L19.5788 23.7452ZM19.5788 25.8704V27.5015H18.3074V25.8207L19.5788 25.8704ZM19.5788 28.0158V29.5363C19.1545 29.5678 18.7308 29.6048 18.3074 29.6486V28.0158H19.5788ZM21.3736 17.9161V19.4214L20.0443 19.1415V17.559L21.3736 17.9161ZM20.0443 17.0299V15.8594L21.3736 16.2743V17.3867L20.0443 17.0299ZM21.3736 19.9452V21.3587L20.0443 21.1514V19.6653L21.3736 19.9452ZM21.3736 21.8781V23.3942L20.0443 23.2717V21.6709L21.3736 21.8781ZM21.3736 23.9102V25.4255L20.0443 25.3738V23.788L21.3736 23.9102ZM21.3736 25.9403V27.5016H20.0443V25.8885L21.3736 25.9403ZM21.3736 28.0158V29.4389C21.0945 29.4484 20.8152 29.4596 20.5366 29.4744C20.3723 29.4831 20.2083 29.493 20.0443 29.5037V28.0159H21.3736V28.0158ZM6.64536 0.714121L21.3736 8.07506V13.9036L7.2035 8.37468L6.64536 9.15274V0.714121ZM2.2071 16.1692L7.05 9.41709V32.589C6.91449 32.6526 6.77964 32.7168 6.64536 32.7836V12.6221L2.95985 17.0367V46.039H5.48352V46.582H2.2072V16.1692H2.2071Z" fill="#FF8900"/></svg>
                        .about__item--text 
                            .title БОЛЕЕ 20 ЛЕТ
                            | опыт работа 
                    .about__item 
                        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M43.5 0H27C26.5858 0 26.25 0.33573 26.25 0.75V5.67554C26.25 5.97298 26.4257 6.24225 26.698 6.36209L43.198 13.6221C43.6936 13.8402 44.25 13.4771 44.25 12.9356V0.75C44.25 0.33573 43.9142 0 43.5 0ZM33 6H31.5C31.0858 6 30.75 5.66421 30.75 5.25V3.75C30.75 3.33579 31.0858 3 31.5 3H33C33.4142 3 33.75 3.33579 33.75 3.75V5.25C33.75 5.66421 33.4142 6 33 6ZM39 6H37.5C37.0858 6 36.75 5.66421 36.75 5.25V3.75C36.75 3.33579 37.0858 3 37.5 3H39C39.4142 3 39.75 3.33579 39.75 3.75V5.25C39.75 5.66421 39.4142 6 39 6ZM21 0H4.5C4.08582 0 3.75 0.33573 3.75 0.75V5.67554C3.75 5.973 3.92569 6.24225 4.19797 6.36209L20.698 13.6221C21.1936 13.8402 21.75 13.4771 21.75 12.9356V0.75C21.75 0.33573 21.4142 0 21 0ZM10.5 6H9C8.58579 6 8.25 5.66421 8.25 5.25V3.75C8.25 3.33579 8.58579 3 9 3H10.5C10.9142 3 11.25 3.33579 11.25 3.75V5.25C11.25 5.66421 10.9142 6 10.5 6ZM16.5 6H15C14.5858 6 14.25 5.66421 14.25 5.25V3.75C14.25 3.33579 14.5858 3 15 3H16.5C16.9142 3 17.25 3.33579 17.25 3.75V5.25C17.25 5.66421 16.9142 6 16.5 6Z" fill="#FF8900"/><path d="M43.0951 45C42.69 45 42.3451 44.6701 42.3451 44.25C42.3451 43.8301 42.69 43.5 43.0951 43.5H45C45.4142 43.5 45.75 43.1642 45.75 42.75V17.04C45.75 16.755 45.57 16.485 45.315 16.3651L25.815 7.56008C25.305 7.33505 24.75 7.69503 24.75 8.235L24.7201 44.22C24.7351 44.61 24.4351 44.9551 24.045 45H23.9701C23.565 44.9551 23.265 44.61 23.295 44.2051L23.25 17.04C23.25 16.755 23.07 16.485 22.815 16.3651L3.31503 7.56008C2.805 7.33505 2.25 7.69503 2.25 8.235V42.75C2.25 43.1642 2.58579 43.5 3 43.5H4.89001C5.29504 43.5 5.64001 43.845 5.64001 44.25C5.64001 44.6701 5.29504 45 4.89001 45H0.75C0.33579 45 0 45.3358 0 45.75V47.25C0 47.6642 0.33579 48 0.75 48H47.25C47.6642 48 48 47.6642 48 47.25V45.75C48 45.3358 47.6642 45 47.25 45H43.0951ZM12 20.0101H13.5C13.9142 20.0101 14.25 20.3459 14.25 20.7601V22.2601C14.25 22.6743 13.9142 23.0101 13.5 23.0101H12C11.5858 23.0101 11.25 22.6743 11.25 22.2601V20.7601C11.25 20.3459 11.5858 20.0101 12 20.0101ZM12 26.0101H13.5C13.9142 26.0101 14.25 26.3459 14.25 26.7601V28.2601C14.25 28.6743 13.9142 29.0101 13.5 29.0101H12C11.5858 29.0101 11.25 28.6743 11.25 28.2601V26.7601C11.25 26.3458 11.5858 26.0101 12 26.0101ZM12 32.0101H13.5C13.9142 32.0101 14.25 32.3459 14.25 32.7601V34.2601C14.25 34.6743 13.9142 35.0101 13.5 35.0101H12C11.5858 35.0101 11.25 34.6743 11.25 34.2601V32.7601C11.25 32.3458 11.5858 32.0101 12 32.0101ZM7.5 35.0101H6C5.58579 35.0101 5.25 34.6743 5.25 34.2601V32.7601C5.25 32.3459 5.58579 32.0101 6 32.0101H7.5C7.91421 32.0101 8.25 32.3459 8.25 32.7601V34.2601C8.25 34.6743 7.91421 35.0101 7.5 35.0101ZM7.5 29.0101H6C5.58579 29.0101 5.25 28.6743 5.25 28.2601V26.7601C5.25 26.3459 5.58579 26.0101 6 26.0101H7.5C7.91421 26.0101 8.25 26.3459 8.25 26.7601V28.2601C8.25 28.6743 7.91421 29.0101 7.5 29.0101ZM7.5 23.0101H6C5.58579 23.0101 5.25 22.6743 5.25 22.2601V20.7601C5.25 20.3459 5.58579 20.0101 6 20.0101H7.5C7.91421 20.0101 8.25 20.3459 8.25 20.7601V22.2601C8.25 22.6743 7.91421 23.0101 7.5 23.0101ZM16.1101 45H11.25C10.4216 45 9.75 44.3284 9.75 43.5V39.5101C9.75 38.6816 10.4216 38.0101 11.25 38.0101H16.1101C16.9385 38.0101 17.6101 38.6816 17.6101 39.5101V43.5C17.6101 44.3285 16.9385 45 16.1101 45ZM19.5 35.0101H18C17.5858 35.0101 17.25 34.6743 17.25 34.2601V32.7601C17.25 32.3459 17.5858 32.0101 18 32.0101H19.5C19.9142 32.0101 20.25 32.3459 20.25 32.7601V34.2601C20.25 34.6743 19.9142 35.0101 19.5 35.0101ZM19.5 29.0101H18C17.5858 29.0101 17.25 28.6743 17.25 28.2601V26.7601C17.25 26.3459 17.5858 26.0101 18 26.0101H19.5C19.9142 26.0101 20.25 26.3459 20.25 26.7601V28.2601C20.25 28.6743 19.9142 29.0101 19.5 29.0101ZM19.5 23.0101H18C17.5858 23.0101 17.25 22.6743 17.25 22.2601V20.7601C17.25 20.3459 17.5858 20.0101 18 20.0101H19.5C19.9142 20.0101 20.25 20.3459 20.25 20.7601V22.2601C20.25 22.6743 19.9142 23.0101 19.5 23.0101ZM40.5 20.0101H42C42.4142 20.0101 42.75 20.3459 42.75 20.7601V22.2601C42.75 22.6743 42.4142 23.0101 42 23.0101H40.5C40.0858 23.0101 39.75 22.6743 39.75 22.2601V20.7601C39.75 20.3459 40.0858 20.0101 40.5 20.0101ZM40.5 26.0101H42C42.4142 26.0101 42.75 26.3459 42.75 26.7601V28.2601C42.75 28.6743 42.4142 29.0101 42 29.0101H40.5C40.0858 29.0101 39.75 28.6743 39.75 28.2601V26.7601C39.75 26.3458 40.0858 26.0101 40.5 26.0101ZM40.5 32.0101H42C42.4142 32.0101 42.75 32.3459 42.75 32.7601V34.2601C42.75 34.6743 42.4142 35.0101 42 35.0101H40.5C40.0858 35.0101 39.75 34.6743 39.75 34.2601V32.7601C39.75 32.3458 40.0858 32.0101 40.5 32.0101ZM34.5 20.0101H36C36.4142 20.0101 36.75 20.3459 36.75 20.7601V22.2601C36.75 22.6743 36.4142 23.0101 36 23.0101H34.5C34.0858 23.0101 33.75 22.6743 33.75 22.2601V20.7601C33.75 20.3459 34.0858 20.0101 34.5 20.0101ZM34.5 26.0101H36C36.4142 26.0101 36.75 26.3459 36.75 26.7601V28.2601C36.75 28.6743 36.4142 29.0101 36 29.0101H34.5C34.0858 29.0101 33.75 28.6743 33.75 28.2601V26.7601C33.75 26.3458 34.0858 26.0101 34.5 26.0101ZM34.5 32.0101H36C36.4142 32.0101 36.75 32.3459 36.75 32.7601V34.2601C36.75 34.6743 36.4142 35.0101 36 35.0101H34.5C34.0858 35.0101 33.75 34.6743 33.75 34.2601V32.7601C33.75 32.3458 34.0858 32.0101 34.5 32.0101ZM30 35.0101H28.5C28.0858 35.0101 27.75 34.6743 27.75 34.2601V32.7601C27.75 32.3459 28.0858 32.0101 28.5 32.0101H30C30.4142 32.0101 30.75 32.3459 30.75 32.7601V34.2601C30.75 34.6743 30.4142 35.0101 30 35.0101ZM30 29.0101H28.5C28.0858 29.0101 27.75 28.6743 27.75 28.2601V26.7601C27.75 26.3459 28.0858 26.0101 28.5 26.0101H30C30.4142 26.0101 30.75 26.3459 30.75 26.7601V28.2601C30.75 28.6743 30.4142 29.0101 30 29.0101ZM30 23.0101H28.5C28.0858 23.0101 27.75 22.6743 27.75 22.2601V20.7601C27.75 20.3459 28.0858 20.0101 28.5 20.0101H30C30.4142 20.0101 30.75 20.3459 30.75 20.7601V22.2601C30.75 22.6743 30.4142 23.0101 30 23.0101ZM38.6101 45H33.75C32.9216 45 32.25 44.3284 32.25 43.5V39.5101C32.25 38.6816 32.9216 38.0101 33.75 38.0101H38.6101C39.4385 38.0101 40.1101 38.6816 40.1101 39.5101V43.5C40.1101 44.3285 39.4385 45 38.6101 45Z" fill="#FF8900"/></svg>
                        .about__item--text 
                            .title БОЛЕЕ 10 ОБЪЕКТОВ
                            | построены
                    .about__item 
                        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.774148 24.7756C0.979465 24.7756 1.17637 24.6941 1.32155 24.5489C1.46673 24.4037 1.5483 24.2068 1.5483 24.0015C1.5483 23.4983 1.5483 22.9951 1.59474 22.5074C1.60135 22.4057 1.58787 22.3038 1.55507 22.2073C1.52227 22.1108 1.4708 22.0218 1.40358 21.9452C1.33637 21.8687 1.25473 21.8061 1.16334 21.7611C1.07194 21.7161 0.972579 21.6895 0.870916 21.6829C0.769254 21.6763 0.667285 21.6898 0.570832 21.7226C0.47438 21.7554 0.385332 21.8069 0.308773 21.8741C0.232214 21.9413 0.169643 22.0229 0.124634 22.1143C0.0796242 22.2057 0.0530569 22.3051 0.0464488 22.4067C-4.32589e-08 22.9332 0 23.4751 0 24.0015C0 24.2068 0.0815617 24.4037 0.226743 24.5489C0.371923 24.6941 0.568831 24.7756 0.774148 24.7756ZM2.26051 15.78C2.06648 15.7135 1.85396 15.7266 1.66962 15.8166C1.48528 15.9066 1.34419 16.0661 1.27734 16.26C0.949969 17.2526 0.691308 18.2666 0.503196 19.2947C0.464363 19.4947 0.505985 19.702 0.61903 19.8716C0.732075 20.0412 0.907424 20.1593 1.10703 20.2004C1.15836 20.2081 1.21053 20.2081 1.26186 20.2004C1.44297 20.2041 1.61963 20.1441 1.76108 20.0309C1.90253 19.9178 1.99982 19.7586 2.03601 19.5811C2.2273 18.6197 2.48598 17.6729 2.81016 16.7477C2.8394 16.6481 2.8483 16.5436 2.83633 16.4405C2.82436 16.3373 2.79177 16.2376 2.74048 16.1474C2.6892 16.0571 2.62028 15.978 2.53783 15.9149C2.45537 15.8518 2.36106 15.8059 2.26051 15.78ZM43.9251 10.6242C43.8104 10.4558 43.6339 10.3394 43.4339 10.3002C43.2339 10.2611 43.0266 10.3024 42.8568 10.4152C42.7717 10.4714 42.6986 10.5439 42.6416 10.6285C42.5846 10.7131 42.5449 10.8082 42.5248 10.9082C42.5046 11.0082 42.5044 11.1112 42.5242 11.2112C42.544 11.3113 42.5834 11.4065 42.6401 11.4913C43.1918 12.3007 43.6884 13.1465 44.1264 14.0227C44.1897 14.1518 44.2876 14.2608 44.4093 14.3374C44.531 14.4139 44.6716 14.4551 44.8154 14.4562C44.9366 14.4555 45.0559 14.4264 45.1638 14.3711C45.3475 14.2797 45.4873 14.119 45.5527 13.9245C45.618 13.73 45.6034 13.5175 45.5121 13.3337C45.0406 12.3981 44.5105 11.4932 43.9251 10.6242ZM40.8518 9.16882C40.9243 9.2514 41.0136 9.31758 41.1137 9.36296C41.2138 9.40835 41.3225 9.43189 41.4324 9.43203C41.6206 9.43176 41.8022 9.36296 41.9433 9.23849C42.0971 9.10288 42.1909 8.91177 42.2039 8.70713C42.217 8.50248 42.1483 8.30102 42.013 8.14694C41.3215 7.36126 40.5793 6.62166 39.7912 5.93288C39.715 5.86256 39.6255 5.80826 39.5279 5.7732C39.4304 5.73814 39.3268 5.72303 39.2232 5.72877C39.1197 5.73451 39.0184 5.76098 38.9253 5.80661C38.8323 5.85224 38.7493 5.91611 38.6813 5.99442C38.6134 6.07273 38.5619 6.16388 38.5299 6.26248C38.4978 6.36108 38.4859 6.4651 38.4948 6.56839C38.5038 6.67167 38.5333 6.77211 38.5818 6.86375C38.6303 6.95539 38.6967 7.03635 38.7771 7.10184C39.5123 7.74553 40.2053 8.43596 40.8518 9.16882ZM3.17401 14.4795C3.31828 14.4805 3.45996 14.4411 3.58307 14.3659C3.70618 14.2907 3.80582 14.1825 3.87074 14.0537C4.30482 13.176 4.79617 12.3277 5.34162 11.5145C5.39831 11.4297 5.43768 11.3345 5.45746 11.2344C5.47725 11.1344 5.47707 11.0314 5.45693 10.9314C5.43678 10.8314 5.39708 10.7364 5.34009 10.6518C5.2831 10.5672 5.20996 10.4947 5.12486 10.4384C4.95512 10.3256 4.74776 10.2843 4.54775 10.3234C4.34775 10.3626 4.17125 10.479 4.05653 10.6474C3.48272 11.5191 2.96555 12.4267 2.50824 13.3647C2.46332 13.4562 2.4369 13.5556 2.43049 13.6573C2.42408 13.759 2.43782 13.8609 2.4709 13.9573C2.50399 14.0537 2.55577 14.1426 2.62329 14.2189C2.6908 14.2952 2.77272 14.3575 2.86435 14.4021C2.96107 14.4491 3.06653 14.4755 3.17401 14.4795ZM28.6435 0.451914C28.5433 0.431654 28.4401 0.431428 28.3398 0.45125C28.2396 0.471073 28.1442 0.510551 28.0593 0.567407C27.9744 0.624264 27.9016 0.697373 27.845 0.782517C27.7885 0.867662 27.7494 0.963156 27.73 1.06349C27.7097 1.16366 27.7095 1.26685 27.7293 1.36711C27.7491 1.46737 27.7886 1.56271 27.8455 1.64764C27.9023 1.73256 27.9754 1.80539 28.0606 1.86192C28.1457 1.91844 28.2412 1.95755 28.3416 1.97699C29.3021 2.17197 30.2487 2.43059 31.1749 2.75113C31.2546 2.77843 31.3385 2.79153 31.4227 2.78984C31.5915 2.79865 31.7585 2.75196 31.8983 2.65691C32.0381 2.56185 32.1429 2.42365 32.1968 2.26342C32.2607 2.06938 32.2452 1.85796 32.1539 1.67525C32.0625 1.49254 31.9026 1.35334 31.7091 1.28799C30.708 0.93793 29.6836 0.65855 28.6435 0.451914ZM9.20462 7.11733C9.35963 6.98182 9.45447 6.79028 9.46826 6.58485C9.48205 6.37942 9.41367 6.17692 9.27816 6.02191C9.14265 5.86689 8.95111 5.77206 8.74568 5.75827C8.54025 5.74447 8.33776 5.81286 8.18274 5.94836C7.399 6.6392 6.65951 7.37868 5.96868 8.16243C5.8956 8.23951 5.83916 8.3308 5.80288 8.43063C5.76659 8.53046 5.75124 8.63669 5.75778 8.7427C5.76431 8.84872 5.79259 8.95226 5.84086 9.04687C5.88913 9.14149 5.95636 9.22516 6.03835 9.29268C6.19242 9.42801 6.39389 9.49667 6.59854 9.48361C6.80318 9.47055 6.99429 9.37682 7.1299 9.22301C7.77319 8.47513 8.46635 7.77163 9.20462 7.11733ZM22.5122 1.59765C23.4892 1.53581 24.4692 1.53581 25.4462 1.59765C25.6504 1.6104 25.8513 1.54183 26.005 1.40693C26.1588 1.27204 26.2529 1.08177 26.2668 0.877696C26.2742 0.775981 26.2614 0.673812 26.2292 0.577058C26.1969 0.480304 26.1459 0.390873 26.079 0.313902C26.0121 0.23693 25.9307 0.173936 25.8393 0.128537C25.748 0.083138 25.6486 0.0562295 25.5469 0.0493575C24.5028 -0.0164525 23.4556 -0.0164525 22.4116 0.0493575C22.2063 0.0565436 22.0122 0.144997 21.8721 0.295259C21.732 0.445522 21.6573 0.645284 21.6645 0.850601C21.6717 1.05592 21.7602 1.24997 21.9104 1.39007C22.0607 1.53017 22.2605 1.60484 22.4658 1.59765H22.5122ZM14.4224 2.82081C14.3309 2.63712 14.1703 2.49725 13.9758 2.43192C13.7813 2.3666 13.5688 2.38117 13.385 2.47244C12.4469 2.92962 11.5393 3.44679 10.6678 4.02074C10.5299 4.11336 10.4255 4.24784 10.37 4.40433C10.3144 4.56082 10.3107 4.73102 10.3593 4.88981C10.4079 5.0486 10.5062 5.18755 10.6398 5.28616C10.7734 5.38477 10.9352 5.4378 11.1013 5.43743C11.253 5.43624 11.4011 5.39048 11.5271 5.30582C12.3423 4.77525 13.1904 4.2969 14.0663 3.87365C14.1599 3.82913 14.2436 3.76626 14.3124 3.68878C14.3813 3.61129 14.4339 3.52077 14.4671 3.42258C14.5003 3.32439 14.5135 3.22053 14.5058 3.11716C14.4981 3.01378 14.4697 2.91301 14.4224 2.82081ZM16.5281 2.7821C16.6126 2.78025 16.6963 2.76456 16.7758 2.73565C17.7032 2.41876 18.6495 2.16021 19.6092 1.9615C19.8088 1.9204 19.9841 1.80225 20.0972 1.63268C20.2102 1.46311 20.2518 1.25581 20.213 1.05575C20.1737 0.854716 20.0562 0.677469 19.8865 0.562838C19.7167 0.448206 19.5084 0.405536 19.3072 0.444173C18.2737 0.653996 17.2548 0.93069 16.2571 1.27251C16.081 1.33029 15.9314 1.44935 15.8357 1.60803C15.7399 1.76672 15.7042 1.9545 15.7351 2.13725C15.7661 2.32001 15.8615 2.4856 16.0042 2.60393C16.1469 2.72226 16.3273 2.78548 16.5126 2.7821H16.5281ZM45.2412 16.7322C45.5606 17.6562 45.8192 18.6001 46.0153 19.5579C46.0499 19.7368 46.1465 19.8978 46.2882 20.0125C46.4298 20.1272 46.6073 20.1883 46.7895 20.1849H46.9443C47.044 20.1646 47.1386 20.1249 47.2229 20.068C47.3072 20.0111 47.3794 19.9381 47.4355 19.8533C47.4916 19.7685 47.5304 19.6734 47.5497 19.5736C47.569 19.4737 47.5685 19.3711 47.5482 19.2714C47.3564 18.2467 47.0978 17.2355 46.774 16.2445C46.7073 16.0495 46.5658 15.8889 46.3807 15.7982C46.1956 15.7074 45.982 15.694 45.787 15.7607C45.5919 15.8274 45.4314 15.9689 45.3406 16.154C45.2499 16.3391 45.2364 16.5527 45.3031 16.7477L45.2412 16.7322ZM34.5889 2.45696C34.4011 2.36559 34.1846 2.3526 33.9871 2.42083C33.7897 2.48907 33.6274 2.63294 33.5361 2.82081C33.4447 3.00867 33.4317 3.22514 33.5 3.42258C33.5682 3.62003 33.7121 3.78228 33.8999 3.87365C34.7807 4.30377 35.6316 4.79259 36.4469 5.33679C36.5716 5.4241 36.7205 5.47013 36.8727 5.46839C37.0387 5.46876 37.2005 5.41573 37.3341 5.31712C37.4677 5.21852 37.5661 5.07956 37.6147 4.92077C37.6632 4.76199 37.6595 4.59178 37.6039 4.43529C37.5484 4.2788 37.444 4.14432 37.3062 4.0517C36.4349 3.46351 35.5273 2.93087 34.5889 2.45696ZM47.1224 21.679C47.0206 21.6859 46.9212 21.7128 46.8299 21.7582C46.7386 21.8036 46.6572 21.8666 46.5903 21.9436C46.5233 22.0206 46.4723 22.11 46.4401 22.2067C46.4078 22.3035 46.395 22.4057 46.4024 22.5074C46.4024 22.9951 46.4489 23.4983 46.4489 24.0015C46.4489 24.2068 46.5304 24.4037 46.6756 24.5489C46.8208 24.6941 47.0177 24.7756 47.223 24.7756C47.4283 24.7756 47.6252 24.6941 47.7704 24.5489C47.9156 24.4037 47.9972 24.2068 47.9972 24.0015C47.9972 23.4751 47.9972 22.9332 47.943 22.4067C47.9371 22.305 47.9111 22.2055 47.8666 22.1138C47.8222 22.0221 47.76 21.9401 47.6838 21.8725C47.6075 21.8049 47.5187 21.753 47.4224 21.7198C47.326 21.6866 47.2241 21.6728 47.1224 21.679ZM34.0625 12.3196C32.9101 13.6835 31.4923 14.7987 29.8952 15.5972C28.2982 16.3958 26.5553 16.861 24.7727 16.9645V17.8083C24.7727 18.0136 24.6912 18.2105 24.546 18.3557C24.4008 18.5009 24.2039 18.5825 23.9986 18.5825C23.7933 18.5825 23.5964 18.5009 23.4512 18.3557C23.306 18.2105 23.2244 18.0136 23.2244 17.8083V17.0342C21.4419 16.9306 19.699 16.4654 18.102 15.6669C16.5049 14.8684 15.087 13.7532 13.9347 12.3893V22.4532H34.0625V12.3196Z" fill="#FF8900"/><path d="M18.9669 7.74423V10.0667H14.1904C15.2381 11.7199 16.6866 13.0814 18.4014 14.0248C20.1162 14.9683 22.0417 15.463 23.9989 15.463C25.9561 15.463 27.8815 14.9683 29.5963 14.0248C31.3111 13.0814 32.7597 11.7199 33.8073 10.0667H29.0308V7.74423C29.0308 7.43625 28.9085 7.14089 28.6907 6.92312C28.473 6.70535 28.1776 6.58301 27.8696 6.58301H20.1281C19.8202 6.58301 19.5248 6.70535 19.307 6.92312C19.0893 7.14089 18.9669 7.43625 18.9669 7.74423ZM21.2894 8.90545H26.7084V10.0667H21.2894V8.90545Z" fill="#FF8900"/><path d="M37.9332 41.0327C40.071 41.0327 41.804 39.2997 41.804 37.162C41.804 35.0242 40.071 33.2913 37.9332 33.2913C35.7955 33.2913 34.0625 35.0242 34.0625 37.162C34.0625 39.2997 35.7955 41.0327 37.9332 41.0327Z" fill="#FF8900"/><path d="M43.3521 41.8069H32.514C31.2821 41.8069 30.1007 42.2963 29.2296 43.1673C28.3585 44.0384 27.8691 45.2199 27.8691 46.4518V48.0001H47.997V46.4518C47.997 45.2199 47.5076 44.0384 46.6365 43.1673C45.7654 42.2963 44.584 41.8069 43.3521 41.8069Z" fill="#FF8900"/><path d="M10.0641 41.0327C12.2018 41.0327 13.9348 39.2997 13.9348 37.162C13.9348 35.0242 12.2018 33.2913 10.0641 33.2913C7.92635 33.2913 6.19336 35.0242 6.19336 37.162C6.19336 39.2997 7.92635 41.0327 10.0641 41.0327Z" fill="#FF8900"/><path d="M20.1278 46.4518C20.1278 45.2199 19.6385 44.0384 18.7674 43.1673C17.8963 42.2963 16.7149 41.8069 15.483 41.8069H4.64489C3.41299 41.8069 2.23154 42.2963 1.36046 43.1673C0.489371 44.0384 0 45.2199 0 46.4518V48.0001H20.1278V46.4518Z" fill="#FF8900"/></svg>
                        .about__item--text 
                            .title 300 СОТРУДНИКОВ
                            | в компании
    .service 
        .container 
            .btitle.orange: span ПРЕДЛАГАЕМЫЕ УСЛУГИ
            .bigtitle Мы предоставляем качественные услуги по строительным вопросам     
            .service__nav.filter__nav
                button.nav.active(data-id='build') Строительные
                button.nav(data-id='avto') Авто услуги
                button.nav(data-id='prdo') Производство
            .row 
                +service
                +service
                +service
                +service('avto')
                +service('prdo')
                +service
    .gallery 
        .container 
            .bigtitle Наши <span>проекты</span>
            .filter__nav
                button.nav.active(data-id='all') Все
                button.nav(data-id='buildgal') Строящиется объекта
                button.nav(data-id='fingal') Завершенные объекты
                button.nav(data-id='ourgal') Наши проекты
                button.nav(data-id='comgal') Коммерческие объекты
            .row 
                +gal
                +gal('buildgal')
                +gal('fingal')
                +gal('fingal')
                +gal
                +gal
            ul.pagination 
                li: a(href="#").link.prev «
                li: a(href="#").link.active 1
                li: a(href="#").link 2
                li: a(href="#").link 2
                li: a(href="#").link 2
                li: a(href="#").link 2
                li: a(href="#").link 2
                li: a(href="#").link.next »
    .stages 
        .container 
            .ltitle 5 шага к мечте
            .bigtitle Этапы работы
            .stages__row 
                .stages__item 
                    .stage 01
                    .title Сделайте звонок и оставьте заявку на сайте
                    .text Бесплатная консультация по телефону
                .stages__item 
                    .stage 02
                    .title Расчет стоимости
                    .text Бесплатная консультация по телефону
                .stages__item 
                    .stage 03
                    .title Заключение договора
                    .text Оформляем договор на выполнение работ
                .stages__item 
                    .stage 04
                    .title Начнём работу
                    .text Мы приступаем к работе и заканчиваем ее строго в срок
                .stages__item 
                    .stage 05
                    .title Прием работ
                    .text Вы принимаете работу и получаете гарантию 3 года!
    .feed 
        .container 
            .feed__img 
                img(src="assets/img/manager.png", alt="")
            .feed__form
                .ltitle СВЯЗАТЬСЯ С НАМИ
                .bigtitle Оставьте заявку и получите коммерческое предложение!
                form(action="#") 
                    .feed__row   
                        .col-6 
                            input(type="text", placeholder='Имя')
                        .col-6 
                            input(type="text", placeholder='Введите свой номер телефона')
                        .col-12 
                            textarea(placeholder='Введите текст сообщения')
                            input(type="submit", value='Отправить сообщение')
    .news 
        .container 
            .news__top 
                .bigtitle Наши <span>новости</span>
                //- .news__btns 
                //-     button.prev 
                //-         <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 1L1 7L7 13" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                //-     button.next 
                //-         <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 13L7 7L1 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
            .news__slider 
                .news__slide.splide 
                    .splide__track
                        .splide__list
                            .news__box.splide__slide 
                                .news__item 
                                    .news__img(style='background-image:url(assets/img/news1.jpg)')
                                    .news__text
                                        .date 12 июля 2020 г.
                                        a.title(href="#") Обеспечение общественной поддержки серьезного трудового залога
                                        .text Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, conctetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                        a.more(href="#") Прочитайте больше
                            .news__box.splide__slide 
                                .news__item 
                                    .news__img(style='background-image:url(assets/img/news1.jpg)')
                                    .news__text
                                        .date 12 июля 2020 г.
                                        a.title(href="#") Обеспечение общественной поддержки серьезного трудового залога
                                        .text Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, conctetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                        a.more(href="#") Прочитайте больше
                            .news__box.splide__slide 
                                .news__item 
                                    .news__img(style='background-image:url(assets/img/news1.jpg)')
                                    .news__text
                                        .date 12 июля 2020 г.
                                        a.title(href="#") Обеспечение общественной поддержки серьезного трудового залога
                                        .text Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, conctetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                        a.more(href="#") Прочитайте больше
                            .news__box.splide__slide 
                                .news__item 
                                    .news__img(style='background-image:url(assets/img/news1.jpg)')
                                    .news__text
                                        .date 12 июля 2020 г.
                                        a.title(href="#") Обеспечение общественной поддержки серьезного трудового залога
                                        .text Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, conctetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                        a.more(href="#") Прочитайте больше