extends ../blocks/temp.pug

block content 
    nav.navbar 
        .container 
            a.home(href="index.html")
                <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8L10 1L19 8V19C19 19.5304 18.7893 20.0391 18.4142 20.4142C18.0391 20.7893 17.5304 21 17 21H3C2.46957 21 1.96086 20.7893 1.58579 20.4142C1.21071 20.0391 1 19.5304 1 19V8Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M7 21V11H13V21" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
            ul.navbar__menu
                li.contact: a(href="tel:998710224455",data-text='Для консультации').link +998 71 022 44 55
                li: a.link(href="about.html") О КОМПАНИИ
                li.dropdown
                    a.link(href="about.html") СЕРВИСЫ
                    ul.dropmenu 
                        li: a(href="#") Xizmat nomi
                        li: a(href="#") Xizmat nomi
                        li: a(href="#") Xizmat nomi
                        li: a(href="#") Xizmat nomi
                li: a.link(href="about.html") ПРОЕКТЫ
                li: a.link(href="about.html") ПРОИЗВОДСТВО
                li: a.link(href="about.html") АВТО УСЛУГИ 
                li: a.link(href="about.html") НОВОСТИ
                li: a.link(href="vacancy.html") ВАКАНСИИ
                li: a.link(href="contacts.html") КОНТАКТЫ
            include ../blocks/navpart.pug
    +head('Поиск','Результаты по вашему запросу:','“Қувасой цемент объект”')
    .search.page
        .container 
            form(action="") 
                <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.1111 24.2222C19.2476 24.2222 24.2222 19.2476 24.2222 13.1111C24.2222 6.97461 19.2476 2 13.1111 2C6.97461 2 2 6.97461 2 13.1111C2 19.2476 6.97461 24.2222 13.1111 24.2222Z" stroke="#8A8A8A" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/><path d="M26.9997 26.9999L20.958 20.9583" stroke="#8A8A8A" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/></svg>
                input(type="text", placeholder='Поиск ')
                button.clear 
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11 21C16.5228 21 21 16.5228 21 11C21 5.47715 16.5228 1 11 1C5.47715 1 1 5.47715 1 11C1 16.5228 5.47715 21 11 21Z" stroke="#8A8A8A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M14 8L8 14" stroke="#8A8A8A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M8 8L14 14" stroke="#8A8A8A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
            .results 
                .title Результаты по вашему запросу: 
                .results__list 
                    .results__item 
                        a.link(href="#") Қувасой цемент 
                        .text Қувасой цементи заводи Zaman Building билан хамкорлик алоқаларини ўрнатди 
                    .results__item 
                        a.link(href="#") Қувасой цемент 
                        .text Қувасой цементи заводи Zaman Building билан хамкорлик алоқаларини ўрнатди 
                    .results__item 
                        a.link(href="#") Қувасой цемент 
                        .text Қувасой цементи заводи Zaman Building билан хамкорлик алоқаларини ўрнатди 