extends ../blocks/temp.pug

block content 
    +head('Проекты','Многоэтажный жилой комплекс','“QUVASOY”')
    .view.page 
        .container 
            h1 Заголовок проекта, любой текст, любой текст, любой текст, любой текст, любой текст, любой текст
            p Для заполнения страницы в веб-дизайне используют специально сгенерированный бессмысленный текст, получивший название Lorem ipsum. Перевод данной фразы в таком виде отсутствует, это искаженная цитата из труда Цицерона «О пределах добра и зла», написанного на латыни. Данное словосочетание — обрезка фразы «Dolorem ipsum», которая переводится как «саму боль». <br> Использовать данный текст в книгопечатании начали еще 500 лет назад, чтобы продемонстрировать различные шрифты и внешний вид страницы заказчику. Благодаря такому заполнителю было видно, сколько строчек помещается на странице, подходит ли дизайн шрифтов для данной книги.
            p Для заполнения страницы в веб-дизайне используют специально сгенерированный бессмысленный текст, получивший название Lorem ipsum. Перевод данной фразы в таком виде отсутствует, это искаженная цитата из труда Цицерона «О пределах добра и зла», написанного на латыни. Данное словосочетание — обрезка фразы «Dolorem ipsum», которая переводится как «саму боль». <br> Использовать данный текст в книгопечатании начали еще 500 лет назад, чтобы продемонстрировать различные шрифты и внешний вид страницы заказчику. Благодаря такому заполнителю было видно, сколько строчек помещается на странице, подходит ли дизайн шрифтов для данной книги.
            .row
                .col-4.col-md-4.col-xs-6 
                    img.full(src="assets/img/gal1.jpg", alt="")
                .col-4.col-md-4.col-xs-6 
                    img.full(src="assets/img/gal1.jpg", alt="")
                .col-4.col-md-4.col-xs-6 
                    img.full(src="assets/img/gal1.jpg", alt="")
                .col-4.col-md-4.col-xs-6 
                    img.full(src="assets/img/gal1.jpg", alt="")
                .col-4.col-md-4.col-xs-6 
                    img.full(src="assets/img/gal1.jpg", alt="")
                .col-4.col-md-4.col-xs-6 
                    img.full(src="assets/img/gal1.jpg", alt="")
            p Для заполнения страницы в веб-дизайне используют специально сгенерированный бессмысленный текст, получивший название Lorem ipsum. Перевод данной фразы в таком виде отсутствует, это искаженная цитата из труда Цицерона «О пределах добра и зла», написанного на латыни. Данное словосочетание — обрезка фразы «Dolorem ipsum», которая переводится как «саму боль». <br> Использовать данный текст в книгопечатании начали еще 500 лет назад, чтобы продемонстрировать различные шрифты и внешний вид страницы заказчику. Благодаря такому заполнителю было видно, сколько строчек помещается на странице, подходит ли дизайн шрифтов для данной книги.
            .row 
                .col-6.col-xs-12 
                    .video 
                        a.video__play(href="#")
                            <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.916016 2.29765C0.916016 0.719465 2.65832 -0.236966 3.98977 0.610321L14.6364 7.38544C15.8714 8.17135 15.8714 9.97418 14.6364 10.7601L3.98976 17.5352C2.65831 18.3825 0.916016 17.4261 0.916016 15.8479V2.29765Z" fill="white"/></svg>
                        img(src="assets/img/video1.jpg", alt="")
                .col-6.col-xs-12 
                    .video 
                        a.video__play(href="#")
                            <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.916016 2.29765C0.916016 0.719465 2.65832 -0.236966 3.98977 0.610321L14.6364 7.38544C15.8714 8.17135 15.8714 9.97418 14.6364 10.7601L3.98976 17.5352C2.65831 18.3825 0.916016 17.4261 0.916016 15.8479V2.29765Z" fill="white"/></svg>
                        img(src="assets/img/video1.jpg", alt="")
            .view__list 
                .bigtitle Другие проекты
                .view__slide.splide 
                    .splide__track 
                        .splide__list 
                            +mgal
                            +mgal
                            +mgal
                            +mgal
                            +mgal
                            +mgal
                            +mgal
                            +mgal
